<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>


<% Character.all.each do |x| %>
    Nombre: <%= x.name %><br>
    Lugar: <%= x.location %><br>
    Casa del mago: <%= x.house %><br><br>
<% end %><br>